/* Folha de estilo da apresentacao do site
 *
 * Marcelo Barbosa, 
 * setembro, 2017.
 */

 /* importacoes */
 @import url('https://fonts.googleapis.com/css?family=Baloo'); 
 
 .font-baloo { font-family: Baloo; }

 /* seletor elemento */
 body 
 { 
     background-image: url(http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/novoPalco.jpg); 
     background-size: cover; 
     background-position: center bottom;
     background-repeat: no-repeat;
     background-attachment: fixed;
 } 
 
 .link-button { border: 2px solid #FFFFFF; border-radius: 100px; color: #FFFFFF; }
 .link-button:hover, .link-button:active { border-color: khaki; color: khaki;  }
 
 /* recursos graficos: palhaco animado */
 .clown-dancing { width: 265px; height:260px; }
 .clown-dancing-fixed { position: fixed; bottom: 30px; }
 
 /* recursos graficos: cortina animada */
 .curtain-frame { z-index: 4; }
 .curtain-stage { z-index: 3; top: 0; }
 .curtain { background-color: #D72120; background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/cortina.jpg'); background-repeat: repeat; background-position: center; }
 .curtain-border { width: 100%; height: 60px; background-color: transparent; background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/bordaDaCortina.png'); background-repeat: repeat-x; background-position: center top; }
 
 /* cabecalho */ 
 .image-banner
 {
    width: 100%;
    border: 0;	
    display: block; 
    margin: auto;
 }
 
 @media only screen and (max-width: 480px) /* smartphones */
 {
     body {  background-size: auto; background-attachment: initial; }     
 }
 
 @media only screen and (max-width: 480px) and (orientation: landscape) /* smartphones */
 {
     .clown-dancing { position: fixed; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }     
 }

