/* Folhas de estilo em cascata da formata��o principal
 *
 * Marcelo Barbosa,
 * setembro, 2017.
 */
 
 /* importacoes */
 @import url('https://fonts.googleapis.com/css?family=Poppins'); 
 @import url('https://fonts.googleapis.com/css?family=Quicksand'); 
 @import url('https://fonts.googleapis.com/css?family=Tangerine');
 @import url('https://fonts.googleapis.com/css?family=Fredoka+One');
 
 /* seletor elemento */ 
 textarea { resize: none; }
 
 
 /* sobreescricao e definicao de classes */ 
 .font-poppins { font-family: Poppins; } 
 .font-quicksand { font-family: Quicksand; }
 .font-tangerine { font-family: Tangerine; }
 .font-fredoka-one { font-family: Fredoka One; }
  
 .party-stamp { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/banner.jpg'); }
 .border-decoration { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/newBorderBanner.png'); }
 .superior-border-decoration { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/newSuperiorBorder.png'); height: 80px;  }
 .footer-border-decoration { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/footerBorder.png'); height: 70px;  }
 
 .main-background { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/travessurasbuffet/layout/mainBackground.jpg'); }
 
 .header-decoration { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/dcore/layout/frame.png'); }
 .header-border-frame { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/dcore/layout/header-borderr-frame.png'); }
 .header-bottom-border-frame { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/dcore/layout/border-frame.png'); height: 65px; }
 .header-top-frame { background-image: url('http://travessurasbuffet.orgfree.com/resources/images/dcore/layout/top-frame.png'); height: 28px; }
 
 
 /* menu dropdown */
 .menu-items ul { box-shadow: 0 4px 3px #000000; }  
 .menu-items ul li:last-child, .menu-items ul li:last-child:hover { border: none; border-radius:none; }
 .menu-items li p, .menu-items li a { background-color: #CA121D; color: #FFFFFF; }
 .menu-items li p:hover, .menu-items li a:hover { background-color: #FFFFFF; color: #000000; } 
 .menu-items ul li p, .menu-items ul a { background-color: #CA121D; color: #FFFFFF; }
 .menu-items ul li p:hover, .menu-items ul li a:hover {box-shadow:none; background-color: #FFFFFF; color: #000000; }
 .menu-items ul li p:hover {text-align: right; font-style: italic; }
 .menu-items ul li:hover{  box-shadow:none; border-radius: 0px; } 

 .drop-down-menu .menu-icon 
 {	
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;    
 } 
 
 .drop-down-menu .close-icon { color: #CA121D; }
 
 /* menu de navegacao */
.navigator-menu { background-color: #FFFFFF; }
.navigator-menu .content ul li { border-bottom: 1px solid #CA121D; color: #000000; }
.navigator-menu .content ul li:last-child { border: 0px; }
.navigator-menu .content ul li:hover, .navigator-menu .content ul li:active { background-color: #CA121D; color: #FFFFFF; }
  

 /* tabelas*/ 
table.menu-table th, table.menu-table td, table.menu-table tr { border: 0px; }
table.menu-table th, table.menu-table td { font-family: Quicksand; }
table.menu-table th { background-color: #CA121D; color: #FFFFFF; }
table.menu-table tr {  background-color: #FFFFFF; }
table.menu-table tr:nth-child(odd){ background-color: #f2f2f2; }
table.menu-table tr:last-child {  border-bottom: 1px solid #D3D3D3; }
table.menu-table td table tr:last-child {  border: 0px; }

 /* cores adicionais */ 
 .bg-color-new-red { background-color: #CA121D; } 
 .text-color-new-red { color: #CA121D; } 
 
 .link-button-red-gold { background-color: #CA121D; border-radius: 100px; color: #FFFFFF; }
 .link-button-red-gold:hover, .link-button-red-gold:active { background-color: gold; color: #FFFFFF; }
 
 .link-button-blue-green { background-color: blue; border-radius: 100px; color: #FFFFFF; }
 .link-button-blue-green:hover, .link-button-blue-green:active { background-color: green; color: #FFFFFF; }
 
 .link-button-orange-magenta { background-color: orange; border-radius: 100px; color: #FFFFFF; }
 .link-button-orange-magenta:hover, .link-button-orange-magenta:active { background-color: magenta; color: #FFFFFF; }
 
 .link-button-pink-violet { background-color: #FF007F; border-radius: 100px; color: #FFFFFF; }
 .link-button-pink-violet:hover, .link-button-pink-violet:active { background-color: violet; color: #FFFFFF; }

 /* media query para resolucao de telas: sobreescreve classes */
 @media only screen and (max-width: 480px) /* smartphones */
 {
    .drop-down-menu, .drop-down-menu .menu, .menu-items ul { background-color: transparent; border: none; box-shadow:none; }    
    .drop-down-menu .background-menu { background-color: #FFFFFF; }    
    .menu-items li, .menu-items li a, .menu-items ul li a, .menu-items ul li:hover, 
    .menu-items ul li, .menu-items li:hover { box-shadow:none; background-color: transparent; color: #FFFFFF; }
    .menu-items ul li p, .menu-items ul a { background-color: transparent; color: #000000; }
    .menu-items ul li:first-child { border: none; }

    .menu-items li a, .menu-items li p { color: #CA121D; background-color: transparent; }

    .menu-items li p:hover, .menu-items li p:active, .menu-items li a:active, .menu-items li a:hover, .menu-items ul li a:active, .menu-items ul li a:hover, 
    .menu-items ul li p:hover, .menu-items ul li p:active, .menu-items .caption-link:hover, .menu-items .caption-link:active
    {
        box-shadow:none;
        background-color: #CA121D; 
        color: #FFFFFF;
        border-radius: 0px;
        border: none;
    }

    .menu-items .sub-items { display: block; }

    .menu-items ul li p { border: 0px; }

    .menu-items .caption-link { background-color: #FFFFFF; color: #000000; }

    .menu-items ul li:last-child
    {
        border: 0px;
        border-radius: 0px;
    }

    .menu-items ul li:last-child:hover { border: 0px; }	 
 }
 